h1.Action{
    font-family: arial, sans-serif;
    text-align: left;
    margin-left: 25px;
    margin-top: 10px;
}

h2.Action {
    font-family: arial, sans-serif;
    text-align: left;
    margin-left: 25px;
}

h3.Action {
    font-family: arial, sans-serif;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    white-space: pre;
}

table.Action {
    width: 100%;
}

td.Action {
    width: 50%;
}

div.Action {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

td.actLim {
    white-space: pre;
}

table.actLim{
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 1pt;
    display: inline-table;
    width: 95%;
    vertical-align: top;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 5px;
}

tr.actLim:first-child{
    font-weight: bold;
    color: white;
    background-color: #303336;
}

tr.actLim:nth-child(even) {
    background-color: #dddddd;
}

td.actLim, th.actLim {
    border: 1px solid #000000;
    padding: 3px;
    white-space: pre;
    text-align: left;
    border-collapse: collapse;
    overflow-wrap:break-word;
}

b {
    font-family: 'Consolas', monospace;
    font-weight: 900;

    /*TODO better color?*/
    color: #bb15ee;
}

/*Type*/
td.actLim:first-child{
    width: 30%;
    text-align: left;
}

/*Calculation*/
td.actLim:nth-child(2){
    width: 35%;
    text-align: center;
}

/*Value*/
td.actLim:nth-child(3){
    width: 35%;
    text-align: left;
}

#allSkillsSelector {
    margin-left: 2%;
    margin-right: 2%;
}

.testResult {
    font-size: 18px;
    white-space: nowrap;
    width: auto;
    margin-left: auto;
    margin-right: auto;

}

.testResult td {
    /*border: red solid 1px;*/
    padding-left: 0.25vw;
    padding-right: 0.25vw;
}